<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.controlhorario" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Control Horario</name>
    <description>
        Aplicación para el control horario laboral.
    </description>
    <author email="josoma@gmail.com" href="http://josoma.com">
        Dyno
    </author>
    <content src="index.html" />
    <access origin="*" />
    <icon src="icono.png" />
</widget>
